.App {
  text-align: center;
  
}

main{
  margin:0 20% 0 20%;
}
@media only screen and (max-width: 500px) {
  main{
    margin:0 20px 0 20px;
  }
}
.Datewise{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:100%
}
hr {
  border:none;
  border-top:1px dashed rgb(14, 13, 13);
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
}
.Datewise div{
  flex-wrap: nowrap;
    flex: 1 1 0%;
    min-width: max-content;
    padding: 4px;
}
